<div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="addCustomer()">
              <div class="form-group">
                <label for="name">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [(ngModel)]="customer.firstname"
                  name="firstname"
                  required
                />
              </div>
              <div class="form-group">
                <label for="name">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [(ngModel)]="customer.lastname"
                  name="lastname"
                  required
                />
              </div>

              <div class="form-group mt-2">
                <label for="gender">Gender</label>
                <select
                  id="gender"
                  name="gender"
                  class="form-control"
                  [(ngModel)]="customer.gender"
                  required
                >
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>

              <div class="form-group mt-2">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  [(ngModel)]="customer.email"
                  required
                />
              </div>

              <button type="submit" class="form-control btn btn-primary mt-3">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
