.fixed-width-table {
  table-layout: fixed;
  width: 100%;
}
:host{
  overflow-x: auto;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.fixed-width-table th, .fixed-width-table td {
  width: 300px;
  overflow: hidden; /* Ensures text does not overflow */
}
.form-popup {
  display: none;
  position: fixed;
  width: 800px;
  height: 500px;
  overflow-x: auto;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.text-red{
  font-weight: bold;
  color: red;
}

.form-popup.active {
  display: block;
}

.picture-container {
  background-color: #F2D2BD;
  height: 350px;
  margin-left: 220px;
  padding-top: 50px;
}

.chart-container {
  justify-content: center;
  align-items: center;
  width: 50%;
  display: block;
  padding-bottom: 30px;
  padding-left: 10px;
}
