host{
    overflow-y: auto;
}
body {
    font-family: Arial, sans-serif;
}
.org-chart{
    margin-left: 300px;
}
.container{
    padding-top: 50px;
    margin-left: 300px;
}
body {
    font-family: Arial, sans-serif;
}

.org-chart ul {
    padding-top: 20px; 
    position: relative;
    transition: all 0.5s;
}

.org-chart li {
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
}

.org-chart li::before, .org-chart li::after {
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%; 
    height: 20px;
}

.org-chart li::after {
    right: auto; 
    left: 50%;
    border-left: 2px solid #ccc;
}

.org-chart li:only-child::after, .org-chart li:only-child::before {
    display: none;
}

.org-chart li:only-child { 
    padding-top: 0;
}

.org-chart li:first-child::before, .org-chart li:last-child::after {
    border: 0 none;
}

.org-chart li:last-child::before {
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
}

.org-chart li:first-child::after {
    border-radius: 5px 0 0 0;
}

.org-chart .node {
    border: 2px solid #ccc;
    padding: 5px 10px;
    display: inline-block;
    color: #333;
    border-radius: 5px;
    transition: all 0.5s;
}

.org-chart .node:hover {
    background-color: #e8e8e8;
    border: 2px solid #333;
}
