.sidenav {
  background-color: black;
  height: 100%;
  color: #fff;
  padding: 15px;
  font-family: Arial, sans-serif;
  font-size: 22px;

  a {
    color: #cfd2d6;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #495057;
      color: #fff;
    }
  }

  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

    &.show {
      max-height: 500px;
      opacity: 1;
    }
  }
  .menu-header {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    i {
      margin-right: 8px;
    }
  }

}
